.about {
  padding-top: 30px;
  background-color: #e9e9e9;
  & .wrapper {
    max-width: 1380px;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    @include media(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
    &-nav {
      @include media(tablet) {
        margin-top: 30px;
      }
    }
    &-facebook:hover svg {
      fill: #4267b2;
      opacity: 1;
    }
    &-instagram:hover svg {
      fill: #833ab4;
      opacity: 1;
    }
    &-youtube:hover svg {
      fill: #ff0000;
      opacity: 1;
    }
    &-linkedin:hover svg {
      fill: #2867b2;
      opacity: 1;
    }
    &-twitter:hover svg {
      fill: #1da1f2;
      opacity: 1;
    }
    &-list {
      display: flex;
    }
    &-text {
      margin-right: 30px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      color: $color-dark-gray;
    }
    &-element {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      & a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &-element:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__menu {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
    @include media(mobile) {
      flex-direction: column;
    }
    &-heading {
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      color: $color-gray;
    }
    &-list {
      margin-top: 30px;
      font-size: 14px;
      line-height: 28px;
      font-weight: 600;
      color: $color-gray;
    }
  }
  &__zone,
  &__bmw,
  &__law {
    max-width: 320px;
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
  }
  &__copyrights {
    padding: 20px 0;
    font-family: 'Open Sans';
    font-size: 14px;
    color: $color-darker-gray;
  }
}
