.about {
  background-color: #e9e9e9;
  padding-top: 30px;
  & .wrapper {
    max-width: 1380px;
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 10px;
    &-list {
      display: flex;
    }
    &-text {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
      color: #707070;
      margin-right: 30px;
    }
    &-element:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__menu {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-top: 60px;
    flex-wrap: wrap;
    &-heading {
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      color: #7b7b7b;
    }
    &-list {
      font-size: 14px;
      line-height: 28px;
      margin-top: 30px;
      font-weight: 600;
      color: #7b7b7b;
    }
  }
  &__zone,
  &__bmw,
  &__law {
    max-width: 340px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 60px;
  }
}
