.appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  &__photo {
    &-1,
    &-2 {
      position: absolute;
      z-index: -1;
    }
    &-2 {
      top: 50%;
      left: 8%;
    }
    &-1 {
      top: 25%;
      right: 5%;
    }
  }
  &__description {
    background-color: #fff;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 90px;
    box-shadow: 0 0 1px 0 #707070;
    &-heading {
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
      font-family: 'Cairo', sans-serif;
      color: #898989;
    }
    &-text {
      max-width: 80%;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 200;
      line-height: 32px;
      color: #bebebe;
      margin-top: 15px;
    }
  }
}
