.appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  &__photo {
    &-1,
    &-2 {
      position: absolute;
      z-index: -1;
    }
    &-2 {
      top: 50%;
      left: 8%;
      @include media(mobile) {
        left: 50%;
        position: relative;
      }
      &::after {
        content: url(../img/path12.svg);
        position: absolute;
        display: block;
        top: -140px;
        left: -40px;
        z-index: -2;
        @include media(mobile) {
          top: -250px;
          left: -80px;
        }
      }
    }
    &-1 {
      top: 25%;
      right: 5%;
      @include media(mobile) {
        right: 42%;
        position: relative;
      }
      &::after {
        content: url(../img/path15.svg);
        position: absolute;
        display: block;
        bottom: -180px;
        right: 250px;
        z-index: -2;
        @include media(mobile) {
          bottom: -180px;
          right: 30%;
        }
      }
    }
  }
  &__description {
    background-color: #fff;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 90px;
    box-shadow: 0 0 1px 0 #707070;
    @include media(mobile) {
      background-color: transparent;
      box-shadow: none;
    }
    @include media(mobile) {
      padding: 10px;
      max-width: 100%;
    }
    &::after {
      content: url(../img/path13.svg);
      position: absolute;
      display: block;
      top: 180px;
      left: 390px;
      z-index: -2;
      @include media(mobile) {
        display: none;
      }
    }
    &::before {
      content: url(../img/path14.svg);
      position: absolute;
      display: block;
      bottom: -80px;
      left: 40%;
      z-index: -2;
      @include media(mobile) {
        display: none;
      }
    }
    &-heading {
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
      font-family: 'Cairo', sans-serif;
      color: #898989;
    }
    &-text {
      max-width: 80%;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 200;
      line-height: 32px;
      color: #bebebe;
      margin-top: 15px;
    }
  }
}
