img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  overflow-x: visible;
  @include media(tablet) {
    padding: 0 30px;
  }
}
body {
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
.small {
  text-transform: lowercase;
}
a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  text-decoration: none;
  opacity: 0.85;
  color: currentColor;
}
