.burger {
  position: relative;
  overflow: hidden;
  display: none;
  width: 32px;
  height: 40px;
  margin-right: 1em;
  cursor: pointer;
  z-index: 1;

  @include media(tablet) {
    display: block;
    margin-right: 0;
  }
}

.burger__item {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  right: 0;
  background: #fff;
  border-radius: 5px;
  pointer-events: none;

  &:nth-child(1) {
    top: 10px;
  }

  &:nth-child(2) {
    top: 20px;
  }

  &:nth-child(3) {
    top: 30px;
  }
}
