.button {
  background-color: $color-blue;
  padding: 15px 90px;
  text-transform: uppercase;
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 1px;
  color: #fff;
  @include media(tablet) {
    padding: 10px 60px;
    width: 80%;
    font-size: 14px;
    text-align: center;
  }
  &:hover {
    background-color: #a5bceb;
  }
}
