.confirm {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  &__container {
    text-align: center;
    max-width: 270px;
  }
  &__heading {
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
    text-transform: uppercase;
  }
  &__text {
    color: #fff;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 13px;
  }
  &__button {
    margin-top: 60px;
  }
  &.is-active {
    display: flex;
  }
}
