@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=Open+Sans:wght@300;400&family=Roboto:wght@300&display=swap');
// font-family: 'Cairo', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
