.form {
  width: 100%;
  margin-top: 90px;
  @include media(mobile) {
    background-color: transparent;
  }
  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__input {
    width: 100%;
    height: 100%;
    border-color: #efefef;
    border-width: 1px;
    border-style: solid;
    padding: 20px 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14;
    line-height: 24px;
    color: #aeafae;
    &-container {
      position: relative;
      height: 52px;
      max-width: 506px;
      width: 100%;
      margin-top: 30px;
    }
    &-label {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      font-family: 'Open Sans', sans-serif;
      font-size: 14;
      line-height: 24px;
      color: #aeafae;
    }
    &:focus + .form__input-label {
      display: none;
    }
    &:not(:placeholder-shown) + .form__input-label {
      display: none;
    }
  }
  &__heading {
    font-size: 20px;
    font-family: 'Caior', sans-serif;
    font-weight: 600;
    line-height: 40px;
    color: #898989;
  }
  &__checkbox {
    display: none;
    &-container {
      margin-left: 22px;
      margin-top: 30px;
    }
    &-label {
      color: #bebebe;
      font-size: 20px;
      font-family: 'Open Sans', sans-serif;
      line-height: 27px;
      position: relative;
      margin-right: 30px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: -36px;
        width: 22px;
        transform: translate(50%, -50%);
        height: 22px;
        border-radius: 50%;
        border: 2px solid #bebebe;
      }
    }
    &:checked + .form__checkbox-label::after {
      background-color: #bebebe;
    }
  }
  &__button {
    margin-top: 60px;
  }
}
