.gallery {
  margin-top: 190px;
  & .wrapper {
    display: flex;
    justify-content: space-between;
    @include media(mobile) {
      flex-wrap: wrap;
      padding: 0 10px;
    }
  }
  &__big-photo-container {
    flex: 0 1 100%;
    margin-right: 10px;
    @include media(mobile) {
      margin-right: 0;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__photos {
    &-container {
      flex: 0 1 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 10px;
      @include media(mobile) {
        margin-top: 10px;
      }
    }
    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 1;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &:nth-child(2) {
      grid-column: span 4;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &:nth-child(3) {
      grid-column: span 3;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &:nth-child(4) {
      grid-column: span 3;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
