.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1380px;
  margin: 20px auto 0;
  color: #fff;
  z-index: 9;
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
  font-size: 18px;
  &--mobile {
    display: none;
    @include media(tablet) {
      display: flex;
    }
    & .wrapper {
      max-width: 1360px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__text {
    font-size: 16px;
    text-align: right;
    margin-right: 80px;
    margin-top: 10px;
    @include media(tablet) {
      display: none;
    }
  }

  & svg {
    @include media(tablet) {
    }
  }
}
