.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    color: #fff;
    z-index: 9;
   font-family: 'Cairo', sans-serif;
   font-weight: bold;
   font-size: 18px;
   &__text{
       font-size: 16px;
       text-align: right;
       margin-right: 50px;
   }
}