@mixin media($breakpoint) {
  // $breakpoint is simply a variable that can have several values

  @if $breakpoint==laptop {
    @media only screen and (max-width: 1380px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (max-width: 1050px) {
      @content;
    }
  }
  @if $breakpoint==mobile-horizontal {
    @media only screen and (max-width: 860px) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 860px) {
      @content;
    }
  }
  @if $breakpoint==mobile-small {
    @media only screen and (max-width: 420px) {
      @content;
    }
  }
}
