.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
  }
  &__link {
    color: #fff;
    font-size: 18px;
    line-height: 33px;
    &:nth-child(odd) {
      margin-right: 60px;
    }
  }

  &--mobile {
    display: none;
  }
}
