.slide {
  position: relative;
  min-height: 100vh;
  &__container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1380px;
    z-index: 8;
    margin: 0 auto;
    transform: translateY(-50%);
    @include media(mobile) {
      top: 45%;
    }
  }
  &__heading {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #fff;
    text-transform: uppercase;
    @include media(mobile) {
      font-size: 48px;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__button.button {
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 45px;
    left: 50%;
    z-index: 8;
    color: white;
    transform: translateX(-50%);
    background-color: $color-blue;
    padding: 15px 90px;
    text-transform: uppercase;
    @include media(mobile) {
      bottom: 80px;
      padding: 10px 60px;
      font-size: 14px;
      width: 70%;
      text-align: center;
    }
    @include media(mobile-horizontal) {
      bottom: 35px;
    }
    @include media(mobile-small) {
      width: 90%;
    }
  }
  &__subheading {
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
}
