.slide {
  position: relative;
  &__container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1360px;
    z-index: 10;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  &__heading {
    font-family: 'Cairo';
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #fff;
    text-transform: uppercase;
  }
  &__subheading {
    font-family: 'Cairo';
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
}
