.swiper {
  &-container {
    height: 100vh;
  }
  &-slide-1,
  &-slide-2,
  &-slide-3 {
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    @include media(mobile) {
      background-position: 75%;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
      z-index: 1;
    }
  }
  &-slide-1 {
    background-image: url(../img/slider1.png);
  }
  &-slide-2 {
    background-image: url(../img/slider1.png);
  }
  &-slide-3 {
    background-image: url(../img/slider1.png);
  }
  &-pagination {
    bottom: 50px !important;
    left: 0 !important;
    max-width: 1380px !important;
    text-align: left !important;
    @include media(mobile) {
      bottom: 20px !important;
    }
    @include media(mobile-horizontal) {
      bottom: 15px !important;
    }
    &-bullet {
      width: 40px !important;
      height: 5px !important;
      display: inline-block !important;
      border-radius: 0 !important;
      background: #fff !important;
      opacity: 1 !important;
      &-active {
        background: #007aff !important;
      }
    }
  }
  &-container-horizontal > &-pagination-bullets {
    bottom: 10px;
    left: 50% !important;
    width: 100% !important;
    transform: translateX(-50%) !important;
    @include media(mobile) {
      display: flex !important;
      justify-content: center !important;
    }
  }
  &-slide {
    & .wrapper {
      position: relative;
      max-width: 1360px;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 2;
    }
  }
}
