@import '/node_modules/scss-reset/_reset.scss';
@import 'node_modules/scss-reset/src/scss/_variables.scss';
@import 'node_modules/scss-reset/src/scss/_typography.scss';
@import 'font';
@import 'variables';
@import 'base';
@import 'button';
@import 'header';
@import 'swiper';
@import 'slide';
@import 'head';
@import 'nav';
@import 'gallery';
@import 'confirm';
